<form [formGroup]="addNumberForm" (ngSubmit)="onSubmit()">
  <h1>Adding Two Numbers</h1>
  <div class="margin">Num1:
    <input type="number" min="1" formControlName="firstNumber">
    <div class="red" *ngIf="(addNumberForm.get('firstNumber').touched 
      || addNumberForm.get('firstNumber').dirty) && addNumberForm.get('firstNumber').invalid">
      <div *ngIf="addNumberForm.get('firstNumber').errors.required">
        Number must be specified
      </div>
      <div *ngIf="addNumberForm.get('firstNumber').errors.min">
        Number must be greater than 0
      </div>
    </div>
  </div>
  <div class="margin">Num2:
    <input type="number" min="1" formControlName="secondNumber">
    <div class="red" *ngIf="(addNumberForm.get('secondNumber').touched 
      || addNumberForm.get('secondNumber').dirty)
          && addNumberForm.get('secondNumber').invalid">
      <div *ngIf="addNumberForm.get('secondNumber').errors.required">
        Number must be specified
      </div>
      <div *ngIf="addNumberForm.get('secondNumber').errors.min">
        Number must be greater than 0
      </div>
    </div>
  </div>
  <button type="submit" class="margin">Submit</button>
</form>
<h3>The sum of Two Numbers is : {{ result }}</h3>